<!doctype html>
<html>
<md-content>
<md-toolbar>
    <div class="md-toolbar-tools content-box">
        <h5><span style="font-weight:bold;">Rockwell</span> Partner Events</h5> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;
        <md-button ng-click="vm.goHome()">
            <md-icon class="mdi mdi-home"></md-icon>
            Home
        </md-button>    
        
    </div>
</md-toolbar>
 
<div class="content-box">

<md-content>
<md-card flex-xl="100" flex-lg="100" flex-md="100" flex-sm="100" flex-xs="100">
	<md-card-content>
		
        <h1 style="color:#CD060A;" class="eventTileHeading">Rockwell Events 2016</h1>
        <div class="rockwell-showdates">
        	<h3>Stop By &amp; See Us</h3>
            <table width="100%">
              <tbody>
                <tr style="background-color:#272727; color:#FFFFFF;">
                  <th scope="col" width="18%">Date</th>
                  <th scope="col" width="18%">Event Type</th>
                  <th scope="col" width="18%">Location</th>
                  <th scope="col" width="46%">Technical Session</th>
                </tr>
                <tr style="text-decoration:line-through; color:#999999;">
                  <td>January 13-14</td>
                  <td>Rexel Virtualization Seminar</td>
                  <td>Denver, CO</td>
                   <td style="font-style:italic; color:#999999;">** details coming soon **</td>
                </tr>
                
                <tr style="background-color:#DEDEDE;text-decoration:line-through; color:#999999;">
                  <td>March 16</td>
                  <td>Kendall Process Showcase</td>
                  <td>Kingsport, TN</td>
                  <td>Technical Session:  Room 2, 12:00PM-2:00PM</td>
                </tr>
                
                <tr style="text-decoration:line-through; color:#999999;">
                  <td>April 20-21</td>
                  <td>CED Virtualization Seminar</td>
                  <td>Omaha, NE</td>
                  <td style="font-style:italic;">Tech Session each day, times TBD</td>
                </tr>
                
                <tr style="background-color:#DEDEDE; text-decoration:line-through; color:#999999;">
                  <td>April 26-27</td>
                  <td>Schaedler Yesco Expo</td>
                  <td>Hershey, PA</td>
                  <td style="font-style:italic;">Tech Sessions:  April 26 at 9:30AM, April 27 at 8:00AM</td>
                </tr>
                
                <tr>
                  <td>May 4-5</td>
                  <td>RAOTM - <a href="http://www.rockwellautomation.com/en_NA/events/raotm/pittsburgh.page?#tab1" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Pittsburgh, PA</td>
                  <td style="font-style:italic;">T102 - May 4 and May 5 from 1:00PM - 2:00PM in Room 315</td>
                </tr>
                
                <tr style="background-color:#DEDEDE;">
                  <td>May 11-12</td>
                  <td>RAOTM - <a href="http://www.rockwellautomation.com/en_NA/events/raotm/wilmington.page?#tab1" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Wilmington, DE</td>
                  <td style="font-style:italic;">T101 - May 11 and May 12 from 11:00AM - 12:00PM in Pusey & Jones Room A</td>
                </tr>
                
                <tr>
                  <td>May 18-19</td>
                  <td>RAOTM - <a href="http://www.rockwellautomation.com/en_NA/events/raotm/buffalo.page#tab1" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Buffalo, NY</td>
                  <td style="font-style:italic;">CT229 - May 18 and May 19 from 2:00PM - 3:00PM in Room 107</td>
                </tr>
                
                <tr style="background-color:#DEDEDE;">
                  <td>May 25-26</td>
                  <td>NorthEast Electrical Automation University - <a href="https://www.needco.com/webapp/wcs/stores/servlet/VgnContentWrapperView?langId=-1&storeId=10701&catalogId=10151&contentManagementId=4ce3632d23513510VgnVCM10000078ccc70aRCRD&D=25052016" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Bolton, MA</td>
                  <td style="font-style:italic; color:#999999;">** details coming soon **</td>
                </tr>
                <tr>
                  <td>June 12-17</td>
                  <td>RATechEd</td>
                  <td>Orlando, FL</td>
                  <td style="font-style:italic;">VZ15 (Hands on Lab) - June 13, 14, 15 and 16 from 4:00PM - 6:00PM in Sebastian I1<br />VZ16 (Tech Session) - June 15 from 3:00PM - 4:00PM and June 17 from 10:00AM - 11:00AM in Panzacola F2</td>
                </tr>
                <tr style="background-color:#DEDEDE;">
                  <td>June 29-30</td>
                  <td>RAOTM - <a href="http://www.rockwellautomation.com/en_NA/events/raotm/irving.page#tab1" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Irving, TX</td>
                  <td style="font-style:italic;">T101 - June 29 and June 30 from 11:00AM - 12:00PM in Meeting Room 5</td>
                </tr>
                <tr>
                  <td>July 20-21</td>
                  <td>RAOTM - <a href="http://www.rockwellautomation.com/en_NA/events/raotm/calgary.page" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Calgary, Alberta</td>
                  <td style="font-style:italic; color:#999999;">** details coming soon **</td>
                </tr>
                <tr style="background-color:#DEDEDE;">
                  <td>July 27-28</td>
                  <td>RAOTM - <a href="http://www.rockwellautomation.com/en_NA/events/raotm/spokane.page" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Spokane, WA</td>
                  <td style="font-style:italic; color:#999999;">** details coming soon **</td>
                </tr>
                <tr>
                  <td>Aug 17-18</td>
                  <td>RAOTM - <a href="http://www.rockwellautomation.com/en_NA/events/raotm/grand-rapids.page" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Grand Rapids, MI</td>
                  <td style="font-style:italic; color:#999999;">** details coming soon **</td>
                </tr>
                <tr style="background-color:#DEDEDE;">
                  <td>Aug 24-25</td>
                  <td>RAOTM - <a href="http://www.rockwellautomation.com/en_NA/events/raotm/heartland.page" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Omaha, NE</td>
                  <td style="font-style:italic; color:#999999;">** details coming soon **</td>
                </tr>
                <tr>
                  <td>Aug 31-Sept 1</td>
                  <td>RAOTM - <a href="http://www.rockwellautomation.com/en_NA/events/raotm/bakersfield.page" target="_blank">Register&nbsp;&raquo;</a></td>
                  <td>Bakersfield, CA</td>
                  <td style="font-style:italic; color:#999999;">** details coming soon **</td>
                </tr>
                <tr style="background-color:#DEDEDE;">
                  <td>Nov 7-8</td>
                  <td>PSUG 2016</td>
                  <td>Atlanta, GA</td>
                  <td style="font-style:italic; color:#999999;">** details coming soon **</td>
                </tr>
                <tr >
                  <td>Nov 9-10</td>
                  <td>Automation Fair 2016</td>
                  <td>Atlanta, GA</td>
                  <td style="font-style:italic; color:#999999;">** details coming soon **</td>
                </tr>
              </tbody>
            </table>
            
        </div>
        
        

	</md-card-content>
</md-card>
</md-content>

</div>
</md-content>
</html>