<!doctype html>
<html>
<md-content>
<md-toolbar>
    <div class="md-toolbar-tools content-box">
        <h5><span style="font-weight:bold;">Rockwell</span> Partner Presentations</h5> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;
        <md-button ng-click="vm.goHome()">
            <md-icon class="mdi mdi-home"></md-icon>
            Home
        </md-button>    
        
    </div>
</md-toolbar>
 
<div class="content-box rockwell-presi-section">
<md-content layout="row" layout-wrap>
    
    <!--
    <md-card flex-xl="100" flex-lg="100" flex-md="100" flex-sm="100" flex-xs="100" style="background-color:transparent; text-align:center;">
        <md-card-content>
            <h3 class="md-headline">Needing to Present ThinManager?</h3>
            <p>We hope this helps. This PowerPoint is an all inclusive presentation on the ThinManager platform. <span class="goAway"><br /></span>Cover the who, what, where, when and how of ThinManager.</p>
            <div align="center"><a ng-href="../../partner-resources/ThinManager-Deck-20160311.pptx"><md-button class="md-raised md-primary" style="padding:0 20px; margin-bottom:50px !important;">Download &raquo;</md-button></a></div>
        </md-card-content>
    </md-card>
    -->
    
    <md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">ThinManager Slide Deck</h3>
            <p>We hope this helps. This PowerPoint or PDF is an all inclusive presentation on the ThinManager platform. 
             Cover the who, what, where, when and how of ThinManager.</p><br />
            <div align="right"><a ng-href="../../../partner-resources/ThinManager-Deck-20160421.pdf" target="_blank"><md-button class="md-raised">Download PDF &raquo;</md-button></a>&nbsp;<a ng-href="../../../partner-resources/ThinManager-Deck-20160421.pptx" target="_blank"><md-button class="md-raised">Download PPTX &raquo;</md-button></a></div>	
    	</md-card-content>
    </md-card>
    
    <md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">ThinManager vs. VMware</h3>
            <p>A Comparison Paper of ThinManager verse VMWare Horizon View.</p>
            <div align="right"><a ng-href="../images/ThinManagerVsHorizonView.pdf" target="_blank"><md-button class="md-raised">Download PDF &raquo;</md-button></a></div>	
    
        </md-card-content>
    </md-card>
    
    <md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">FactoryTalk View</h3>
            <p>(FactoryTalk View SE HMI package Deployment Guide)</p>
            <div align="right"><a ng-href="../images/guides/FTViewSE_70_DeploymentGuide.pdf" target="_blank"><md-button class="md-raised">Download PDF &raquo;</md-button></a></div>	
    
        </md-card-content>
    </md-card>
    
    <md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">VZ17 Lab Manual</h3>
            <p>(RATechEd 2015 VZ17 Lab Manual)</p>
            <div align="right"><a ng-href="../images/VZ17-ExtendingFactoryTalk.pdf" target="_blank"><md-button class="md-raised">Download PDF &raquo;</md-button></a></div>	
    
        </md-card-content>
    </md-card>
    
    <md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">HOT Training Manual</h3>
            <p>(IA HOT Training Manual from Mayfield Heights)</p>
            <div align="right"><a ng-href="../images/HOTT-TrainingManual.pdf" target="_blank"><md-button class="md-raised">Download PDF &raquo;</md-button></a></div>	
    
        </md-card-content>
    </md-card>
    
    <md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">HOL06 Lab Manual</h3>
            <p>(PSUG 2015 HOL06 Lab Manual)</p>
            <div align="right"><a ng-href="../images/HOL06 - Extending FactoryTalk View Site Edition with ACP ThinManager v04.pdf" target="_blank"><md-button class="md-raised">Download PDF &raquo;</md-button></a></div>	
    
        </md-card-content>
    </md-card>
    
    <md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">RAOTM and Webinar PowerPoint</h3>
            <p>(The slide deck used for RAOTMs and Webinars.)</p>
            <div align="right"><a ng-href="../images/RAOTMWebinarSlideDeck/pptx" target="_blank"><md-button class="md-raised">Download PPTX &raquo;</md-button></a></div>	
    
        </md-card-content>
    </md-card>

	<md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">ThinManager 9 - User Guide</h3>
            <p>A complete guide to everything ThinManager. Couple it with the knowledge base and you will get your answers.</p>
            <div align="right"><a ng-href="../../../support/manuals/files/ThinManager-v9-UserGuide.pdf" target="_blank"><md-button class="md-raised">Download PDF &raquo;</md-button></a></div>	
    
        </md-card-content>
    </md-card>
    
    <md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">ThinManual</h3>
            <p>A very useful tool for quick reference, set-up and operation of ThinManager.</p>
            <div align="right"><a ng-href="../../../support/manuals/files/ThinManual-v9.pdf" target="_blank"><md-button class="md-raised">Download PDF &raquo;</md-button></a></div>	
    
        </md-card-content>
    </md-card>
    
    <md-card flex-xl="30" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
        <md-card-content >
        
            <h3 class="md-headline">What Sets ThinManager Apart</h3>
            <p>This white paper runs through a multitude of features and reasons that sets ThinManager apart from the others.</p>
            <div align="right"><a ng-href="../../../partner-resources/WP-What-Sets-ThinManager-Apart.pdf" target="_blank"><md-button class="md-raised">Download PDF &raquo;</md-button></a></div>	
    
        </md-card-content>
    </md-card>

</md-content>
</div>
</md-content>
</html>